@media print{

  nav, .page-header.card, .footer{
    visibility: hidden;
    display: none;
  }

  .pcoded-inner-navbar{
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 0;
  }

  .pcoded-content {
    margin-left: 0;
  }

  .nav-list{
      display: none;
  }

  #checkup-info{
    page-break-after: always;
  }

    /* nav, .page-header.card, .card-header, .footer{
      visibility: hidden;
      display: none;
    }

    .pcoded-inner-navbar{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        width: 0;
    }

    .nav-list{
        display: none;
    }

    table td:last-child {display: none;}
    table th:last-child {display: none;}

    .card-block {
      page-break-before: avoid;
    }

    table #dataTable1 {page-break-before: avoid;}
    #tableTitle {page-break-after: avoid;}
    table {page-break-before: avoid;}
    table tr {page-break-inside: auto;}
    thead{display:table-header-group} */
    
  }